/*********nav******/

nav {
    background-color: aqua;
}

nav ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style: none;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/********menu******/

main {
    background-color: blue;
    margin: 2%;
    padding: 1%;
}

section.menu {
    display: grid;
    grid-template-columns: 15% 85%;
}

article.gauche {
    background-color: chartreuse;
    margin-right: 10%;
}

article.droite {
    background-color: teal;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.droite p {
    background-color: aqua;
    visibility: hidden;
    position: absolute;
}

.droite img:hover+p {
    width: 400px;
    background-color: blueviolet;
    visibility: visible;
}

.droit div img {
    position: relative;
}


/******inscription******/

.connection {
    display: grid;
    grid-template-columns: 50% 50%;
}

.inscription .nom {
    width: 300px;
}

h3 {
    margin: 10px;
}

.formulaire .bouton {
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}


/******footer********/

footer {
    background-color: brown;
}

footer ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style: none;
}

footer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul li a {
    margin: 1%;
    font-size: 150%;
}

footer ul li.logo {
    display: flex;
    flex-direction: row;
}